.checkout__container {
  min-height: 100vh;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1500px;
  .checkout__content {
    display: flex;
  }
}
.cart__title {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}
.productcart__container {
  width: 66.66667%;
  padding: 30px 10px 10px 10px;
  height: 100%;

  .cart__count {
    font-size: 1.3rem;
  }
  .productcart__list {
    border-radius: 3px;
    overflow: hidden;
    background: #fff;

    padding: 20px;
    height: 100%;
  }
  .productcart__listitem {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    border-bottom: 2px solid rgb(221, 220, 220);
    padding-bottom: 30px;
    .productcart__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;
    }
    .productcart__image {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      a {
        display: flex;
        width: 100%;
        height: 100%;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    .productcart__name {
      text-align: center;
      padding: 10px 4px 5px 4px;
    }
    .productcart__name,
    .productcart__quantity,
    .productcart__price,
    .productcart__button {
      align-self: center;
      font-family: $name-font;
      font-weight: 550;
    }
    .productcart__button {
      button {
        border: none;
        background-color: transparent;
        padding: 5px 10px;
        font-size: large;
        cursor: pointer;
        &:hover {
          color: $main-color;
        }
      }
    }
    .productcart__name {
      font-weight: 600;
    }
    .productcart__quantity {
      align-self: center;
      button {
        border: none;
        outline: none;
        background-color: transparent;
        color: rgb(95, 93, 93);
        cursor: pointer;
        padding: 18px;
        &:hover {
          color: rgb(207, 155, 58);
        }
      }
      input {
        font-size: 13px;
        outline: none;
        width: 34px;
        text-align: center;
        border: 1px solid rgb(153, 148, 148);
      }
    }
  }
  .non__item {
    text-align: center;
    color: rgb(112, 95, 95);
  }
}
.checkout__right {
  padding: 40px;
  width: 33.33333%;
  .checkout__content {
    padding: 35px;
    border-radius: 3px;
    overflow: hidden;
    background: #eaeded;
    display: flex;
    flex-direction: column;
    .checkout__info {
      color: #757575;

      .info__label {
        font-size: 1rem;
        font-weight: 600;
      }
      .info__value {
        font-family: "Montserrat", sans-serif, "sans-serif";
        font-size: 16px;
      }
      display: flex;
      justify-content: space-between;
    }

    .total {
      color: #1b2224;
      border-top: 1px solid #ccc;
      margin-top: 20px;
      padding: 20px 10px 20px 10px;
      .info__label {
        font-size: 1.3rem;
      }
      .info__value {
        font-size: 1.3rem;
        font-family: "Montserrat", sans-serif, "sans-serif";
        color: #444;
      }
    }
    .checkout__button {
      text-align: center;
      padding: 14px;
      background-color: #1890ff;
      a {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        color: white;
        justify-content: center;
        .lock__icon {
          margin-top: 2px;
        }
      }
    }
  }
}
@media screen and (max-width: 910px) {
  .productcart__quantity {
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      margin-left: 7px;
    }
  }
  .productcart__image {
    width: 100px !important;
  }
  .checkout__content {
    flex-wrap: wrap;
    .productcart__container {
      width: 100%;
    }
    .checkout__right {
      width: 100%;
      margin: 0 auto;
    }
  }
}
