@import "./cart";
.header * {
  box-sizing: content-box !important;
}
.header {
  background-color: black;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
  position: sticky;
}
.header__logo {
  max-width: 100px;
  object-fit: contain;
  margin: 3px 30px 0 20px;
}
.header__search {
  .header__searchButton {
    transition: none;
    margin: 0;
    padding: 0 !important;
    min-width: 20px !important;
    .MuiButton-label {
      display: flex;
    }
  }
  display: flex;
  flex: 1;
}

.header__searchInput:focus ~ .header__searchButton {
  box-shadow: 0 0 0 3px #f90;
}
.header__searchInput:focus {
  box-shadow: 0 0 0 3px rgb(255, 153, 0);
}
.header__searchIcon {
  background-color: #febd69;
  padding: 5px 5px 3px 5px;
  height: 30px !important;
  width: 45px !important;
  border-radius: 0 4px 4px 0;
  &:hover {
    background-color: #ec9016;
  }
}

.header__searchInput {
  width: 100%;
  height: 21px;
  padding: 7px 10px 10px 0;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: 0;
  line-height: 1em;
  font-size: 15px;
  text-indent: 12px;
  min-width: 90px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px 0 30px;
}
.header__link {
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  margin: 1px;
}
.header__option {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px 10px;
}
.header__option:hover {
  outline: 1px solid white;
}
.header__optionBasket:hover {
  outline: 1px solid white;
}
.header__optionLine1 {
  color: #ccc;
  font-size: 12px;
  font-weight: 600;
}
.header__optionLine2 {
  font-size: 14px;
  font-weight: 700;
}
.header__optionBasket {
  display: flex;
  padding: 15px 20px 2px 20px;
}

.header__basketIcon {
  padding: 5px;
  height: 30px !important;
  font-size: 1.8rem !important;
}

.header__basketCount {
  display: flex;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  font-size: 17px;
  width: 11px;
  height: 11px;
  align-items: center;
  justify-content: center;
  top: 7px;
  padding: 2px 2px 4px 2px;
}
.header__optionLine2Cart {
  margin-top: 13px;
}
.back__btn {
  margin-top: 20px;
  box-sizing: border-box;
  padding-left: 50px;
  & button {
    padding: 13px 40px;
    display: flex;
    border: none;
    background-color: transparent;
    border-radius: 1rem;
    color: rgb(240, 158, 99);
    outline: none;
    transition: 0.2s ease-out;
    &:hover {
      background-color: rgb(243, 181, 66);
      color: black;
    }
  }
}
@media screen and (max-width: 678px) {
  .header__nav {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
  }

  .header__optionLine1,
  .header__optionLine2 {
    font-size: 9px;
    font-weight: normal;
  }
  .header__searchIcon {
    width: 20px !important;
  }
  .header__basketIcon {
    font-size: 18px !important;
  }
  .header__basketCount {
    font-size: 9px;
    font-weight: bold;
    width: 5px;
    height: 5px;
  }
  .header__logo {
    margin: 0;
    max-width: 70px;
  }
  .header__optionBasket {
    padding: 20px 10px 5px 10px;
  }

  .header__basketCount {
    top: 20px;
  }
}
